header {
	text-align: left;
	clear: both;
	background-color: white;
	font-family:Arial;
	font-size: 15px;
	color: black;
	line-height: 150%;
}

nav ul {
	padding: 0;
	text-align: left;
}

nav ul li {
	display: inline-block;
}

nav ul li a{
	font-family: Arial;
	font-size: 20px;
	text-decoration: none;
	float: left;
	padding: 10px;
	background-color: #572364;
	color: #FFF;
}

nav ul li a: hover {
	background-color: #2586d7;
	margin-top: -2px;
	padding-bottom: 12px;
}
.contenedor{
	height: 300px;
	width: 1200px;
	overflow: hidden;
	/*text-align: center;*/
}

.presentacion{
	height: 300px;
	width: 600px;
	float: left;
}

.articulo{
	height: 300px;
	width: 600px;
	font-family: Arial;
	font-size: 12px;
	clear: both;
	line-height: 150%;
	pading-left: 10px; 
}

.capture{
	height: 300px;
	width: 600px;
	padding-right: 20px;
}
.cap {
	width: 500px;
	height: 250px;
	background-image: url(https://www.sociedadcirugiaocular.com/images/img-coronavirus-covid19.jpg);
	background-size: 100% 100%;
	margin: auto; 
}

.container{
	height: 300px;
	width: 1200px;
	overflow: hidden;
}

.present{
	height: 300px;
	width: 600px;
	float: left;
}

.art{
	height: 300px;
	width: 600px;
	font-family: Arial;
	font-size: 12px;
	clear: both;
	line-height: 150%;
	pading-left: 10px; 
}

.imagen{
	height: 300px;
	width: 600px;
}

.capt{
	height: 250px;
	width: 500px;
	background-size: 100% 100%;
	background-image: url(https://www.65ymas.com/uploads/s1/41/61/97/bigstock-lung-virus-infection-and-coron-350084953.jpeg);
}